<!DOCTYPE html>
<html>
  <head>
    <title>AED - Rédaction</title>
    <link rel='stylesheet' href='/css/style-admin.css' />
  </head>
  <body>
    <%- include('partials/header') %>

    
  
    <script src="/js/main.js"></script>
  </body>
</html>
