<!DOCTYPE html>
<html>
  <head>
    <title>AED - Rédaction</title>
    <link rel='stylesheet' href='/css/style-admin.css' />
  </head>
  <body>
    
    <h2><%= message %></h2>
    <a href="/admin">Retour à la page de connexion.</a>
  
    <script src="/js/main.js"></script>
  </body>
</html>
