<!DOCTYPE html>
<html>
  <head>
    <title>AED - Rédaction</title>
    <link rel='stylesheet' href='/css/style-admin.css' />
  </head>
  <body>
    
    <form id="loginForm" action="/admin/login" method="post">
      <p id="title">AED - Rédaction</p>
      <label for="mail">Adresse mail</label>
      <input class="textInput" type="email" name="mail">
      <label for="mail">Mot de passe</label>
      <input class="textInput" type="password" name="motDePasse">
      <button type="submit">Connexion</button>
    </form>
  
    <script src="/js/main.js"></script>
  </body>
</html>
