<header>
    <p id="title">AED - Rédaction</p>
    <div class="links">
        <a href="/admin/redaction">Rédaction</a>
        <a href="/admin/articles">Articles</a>
        <a href="/admin/profil">Pofil</a>
    </div>
</header>

<hr>
